:root {
  --safe-width: 1280px;

  --Iridium: rgba(61, 61, 61, 1);
  --Baltic-Sea: rgba(41, 41, 41, 1);
  --white: rgba(255, 255, 255, 1);
  --safron-mango: rgba(255, 196, 83, 1);
  --aqua-green: rgba(41, 228, 137, 1);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    font-family: "Inter", sans-serif;
  }
  
  body{
      background-color: var(--Baltic-Sea);
  }


.p-16 {
  padding: 16px;
}
.py-16 {
  padding: 16px 0;
}
.px-16 {
  padding: 0 16px;
}

.hidden{
    display: none;
}

.container{
    width: 100%;
    margin: 0 auto;
}



h1{
    font-size: 1.75rem;
}

main{
    display: block;
    max-width: var(--safe-width);
}
/* cards */

.card{
    background-color: var(--Iridium);
    color: var(--white);
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
}

.card :is(h2,h3,h4,h5,h6):first-child {
    font-size: 1.5rem;
}

.card p.subtitle, section span.subtitle{
    color: var(--white);
    opacity: 0.4;
    font-size: 12px;
    font-weight: 500;
}

/* button style */



button{
    background-color: transparent;
    color: var(--Iridium);
    font-size: 16px;
    border:none;
    outline: none;
    transition: 500ms;
    font-weight: 700;
    padding: 8px 16px;
    display: inline-block;
    text-align: center;
   border-radius: 4px;
}

button.active{
    background-color: var(--Iridium);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 0 2px rgba(0, 0, 0, 0.12);
    color: var(--white);
}

button:hover{
    background-color: var(--Iridium);
    color: var(--white);
}





@media screen and (max-width:435px) {
    
}

@media screen and (min-width: 435px) and (max-width: 770px) {
    
}

@media screen and (min-width: 770px) {
    
}